* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 5px;
  background-color: #f5ee9e;
  color: white;
  font-family: 'Baloo 2', cursive;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/******************************************************/

.container-left {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 20px;
}

.table {
  table-layout: fixed;
  color: #1a4557;
  margin: 0;
  text-align: center;
}

.table-container{
  background-color: #f49e4c;
  color: white;
}

.mi-tabla-personalizada th tr{
  width: 150px;
  overflow: auto;
}

.btn-primary {
  background-color: #2d728f;
  border: none;
}

.btn-primary:hover {
  background-color: #1a4557;
}

.btn-danger {
  background-color: #ab3428;
  border: none;
}

.btn-danger:hover {
  background-color: #69160f;
}

.container-form {
  background-color: #f49e4c;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 20px;
  padding: 20px;  
  width: 400px;
  margin: 30px auto;
}

.container-form label {
  font-weight: bolder;
  font-size: 18px;
}

.container-inputs {
  margin: 10px 0;
}

.container-form input {
  display: flex;
  width: 100%;
  height: 40px;
  
  margin: 8px 0;
  padding-left: 10px;
  border-radius: 5px;
  border-style: none;
  text-align: left;
}

.container-form button {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border-style: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  background-color: #2d728f;
  color: white;
  font-weight: bolder;
  text-transform: uppercase;
}

.container-form button:hover {
  background-color: #1a4557;
}

.principal{
align-items: center;
display: flex;
height: 100vh;
}

.secundario{
margin: 0 auto;
}